<footer class="page-footer  no-gutters   overflow-hidden flex-md-row  h-md-250 position-relative "
  style="background-color: rgba(0, 0, 0, 0.822); ">

  <div class="row text-center">

    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-5" style="color:white">
      <h3 class="text-uppercase mb-4 font-weight-bold text-center">
        Address
        </h6>
        <p class="text-center"><strong>Flat No.G3.H.No.2-3/1,Tejashree Enclave,street No.1,Gachibowli,Hyderabad
            Landmark: Next to Gachibowli central mall.</strong>
        </p>
    </div>

    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-5 " style="color:white">
      <h3 class="text-uppercase mb-4 font-weight-bold text-center">call us</h6>
        <p class="text-center">
          +91-9501911250
        </p>
        <p class="text-center">
          akshay.srivastava789@gmail.com
        </p>
    </div>

    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-5" style="color:white">
      <h3 class="text-uppercase mb-4 font-weight-bold text-center">Social media</h6>
        <p class="text-center">
          <a href="https://www.facebook.com">
            <button type="submit" class="btn btn-light  rounded-pill ">
              <i class="fa fa-facebook-official"></i>
            </button>
          </a>
        </p>
        <p class="text-center">
          <a href="https://www.linkedin.com">
            <button type="submit" class="btn btn-light  rounded-pill">
              <i class="fa fa-linkedin-square"></i>
            </button>
          </a>
        </p>
        <p class="text-center">
          <a href="https://www.twitter.com">
            <button type="submit" class="btn btn-light rounded-pill">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </button>
          </a>
        </p>
    </div>
  </div>
</footer>